* {
    margin: 0;
}


header{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
body {
    background-color: black;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1em;
}

figcaption {
    text-align: center;
    background-color:yellow;
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}