* {
    margin: 0;
}


header{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    border-bottom: solid yellow 8px;
}
body {
    background-color: black;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1em;
}

figcaption {
    text-align: center;
    background-color:yellow;
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

button{
    color: black;
    background-color: rgb(252, 252, 61);
    width: 125px;
    height: 22px;
    border-radius: 30px;
    font-size: 15px;
    margin: 17px;
    font-family: 'Russo One', sans-serif;

}