
*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}



body{
    background-color:#C5C6c7;
    font-family: 'Lexend Mega', sans-serif;
    
}

.navList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
}

.navList a {
 color: #1F2833;
font-family: Arial, Helvetica, sans-serif;
}

.navList a:hover{
    background-color: #C5C6c7;
}

#navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #66FCF1;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4)
    
}

.navList a {
    display: block;
    font-size: 1.5em;
    padding: .65em .5em;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right, #0B0C10, #1F2833);
    width: 100%;
    height: 100vh;
    
}

h1 {
    color:#66FCF1;
    font-size: 2.5rem;
}

p {
    color:white;
    font-size: 1.6rem;
}

#projects{
    
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

#projects h2 {
    color:#1F2833;
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: #66FCF1 3px solid;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  } 


  @media (max-width: 32.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  


.project-image {
   
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }

figcaption {
    align-items: center;
    text-align: center;
   
}

figure:hover {
    color: #66FCF1;
}

a {
    color:black;
    text-decoration: none;
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image:linear-gradient(to left, #0B0C10, #1F2833);
}

.contact-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    
    
}

.contact-text h2{
    color: #66FCF1;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2.5rem;
}

.contact-links a {
    color:#66FCF1;
    font-size: 21px;
}

.contact-links a:hover{
    color: #C5C6c7;
}


@media (max-width: 1200px) {
    html {
        font-size:100%;
    }
}

@media (max-width: 980px) {
    html {
        font-size:80%;
    }
}

@media (max-width:680px) {
    html {
        font-size:60%;
    }
}

footer{
    border-top:1px #66FCF1 solid ;
    color: white;
    text-align: center;
    background-image:linear-gradient(to left, #0B0C10, #1F2833);
    padding: 2rem;
    height: 10vh;
}