
*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}



body{
    background-image:radial-gradient(farthest-corner at 40px 40px,
    rgb(37, 37, 37) 0%, rgb(220, 232, 245) 100%);
    font-family: 'Lexend Mega', sans-serif;
    
}

.navList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
}

.navList a:hover{
    background-color: #66fcf1;
}

#navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-image:linear-gradient(to right, #0B0C10, #1F2833);
    box-shadow: inset 0 -2px 5px rgb(0 0 0 / 35%);
    border-bottom: solid black 4px;
}

.navList a {
    display: block;
    font-size: 1.5em;
    padding: .65em .5em;
    color: white;
    font-family: 'Lexend Mega', sans-serif;
    border-right: white 1px solid;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right, #0B0C10, #1F2833);
    width: 100%;
    height: 100vh;
    
}

h1 {
    color:#66FCF1;
    font-size: 2.5rem;
}

p {
    color:white;
    font-size: 1.6rem;
    position: relative;
    animation: mymove 1.5s ;
    animation-timing-function: ease-in;    
}


@keyframes mymove {
    from {left: -90px;}
    to {left: 0px;}
  }

#projects{
    
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
    
}

#projects h2 {
    color:white;
    padding-bottom:5px ;
    margin-bottom: 30px;
    font-size: 2.5rem;
    border-bottom: #66FCF1 6px solid;
    border-radius: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  } 


  @media (max-width: 32.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  


.project-image {
    margin-bottom: -4.5px;
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }

figcaption {
    align-items: center;
    text-align: center;
    font-size: 22px;
    border-bottom: 4px #66fcf1 solid;
    color: white;
    background-image:linear-gradient(to right, #0B0C10, #1F2833);
}

figcaption:hover{
    color: #66FCF1;
}

figure{
    box-shadow: 10px 5px 5px  rgb(68, 68, 68);
    
}

figure:hover {
    box-shadow: 10px 5px 5px #66fcf1;
    transition: transform 250ms;
    transform: translateY(-10px);
}

a {
    color:black;
    text-decoration: none;
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image:linear-gradient(to left, #0B0C10, #1F2833);
}

.contact-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;

}

.contact-text h2{
    color: #66FCF1;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2.5rem;
}

.contact-links a {
    color:#66FCF1;
    font-size: 21px;
    
}

.contact-links a:hover{
    color: #C5C6c7;
    transition: transform 250ms;
    transform: translateY(-10px);
}


@media (max-width: 1200px) {
    html {
        font-size:100%;
    }
}

@media (max-width: 980px) {
    html {
        font-size:80%;
    }
}

@media (max-width:680px) {
    html {
        font-size:60%;
    }
}

footer{
    border-top:1px #66FCF1 solid ;
    color: white;
    text-align: center;
    background-image:linear-gradient(to left, #0B0C10, #1F2833);
    padding: 2rem;
    height: 10vh;
}

