* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    background-color: black;
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, grey, black);
    border-bottom: solid rgb(255, 203, 5) 5px;
    margin-bottom: 10px;
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, grey, black);
    height: 100vh;
}

.pokemonLogo{
    margin-left: 50px;
    transition: transform 250ms;
}


.title {
    border-bottom: solid rgb(255, 203, 5) 5px;
}

.pokeGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    
    
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
    
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility:hidden;
    
}

.card__face--front {
    background-color: rgb(145, 145, 123);
    border-radius: 6px;
    border-bottom: rgb(255, 203, 5) 4px solid;
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding-top: 15px;
    box-shadow: rgb(71, 71, 71) 5px 10px;
    transition: transform 250ms;
}

.card__face--front img {
    height: 190px;
    width: 190px;
}

.card__face--back {
    background-color: rgb(118, 155, 189);
    transform: rotateY(180deg);
    border-radius: 6px;
    border-bottom: rgb(42, 117, 187) 4px solid;
    align-items: center;
    text-align: center;
    padding-top: 21px;
    color: white;
    box-shadow: rgb(71, 71, 71) 5px 10px;
    
    
}

#submitButton {
    color: red;
}

.loadPokemon, #fetchSelectedPokemon, #newPokemon {
    width: 150px;
    height: 60px;
    background-color: rgb(42, 117, 187);
    border-radius: 5px;
    border: 1px solid ;
    margin: 30px 90px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: transform 250ms;
}

p {
    padding-bottom: 13px;
}

#fetchSelectedPokemon:hover, .loadPokemon:hover, #newPokemon:hover{
    background-color: rgb(255, 203, 5);
    transform: translateY(-10px);
}

.card__face--front:hover{
    background-color: rgb(238, 214, 120);
    transform: translateY(-10px);
}

.card__face--back:hover{
    background-color:rgb(76, 139, 199);
    
}

.pokeball{
    padding-bottom: 10px;
    padding-left: 5px;
    transition: transform 250ms;
}

.pokeball:hover {
    transform: translateY(-10px);
}


.pokemonLogo:hover{
    transform: translateY(-10px);
}